

<div class="container-fluid border-2 border-info bg-light-subtle text-center align-middle vstack" style="border-radius:10px;">
    <h4 class="text-light-emphasis mt-2 mb-2">Status summary</h4>
    <span class="text-success">
        &#x2022; @NumberOnline online
    </span>
    <span class="text-danger">
        &#x2022; @NumberOffline offline
    </span>
</div>
