

<div class="border border-2 border-info rounded bg-light-subtle text-center align-middle vstack mt-2 me-1 pt-0 pb-1">
    <span class="fw-bold text-light-emphasis mt-1 mb-1">Status</span>
    <span class="text-success ms-1 me-1">
        &#x2022; @NumberOnline online
    </span>
    <span class="text-danger ms-1 me-1">
        &#x2022; @NumberOffline offline
    </span>
</div>
