

<a class="btn btn-outline-primary mt-1 mb-1 ms-1 me-1" href="@Href">@ChildContent</a>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public required string Href { get; set; }
}