

@if (Status)
{
    <span class="btn disabled btn-success">Online</span>
}
else
{
    <span class="btn disabled btn-danger">Offline</span>
}

@code {
    [Parameter]
    public bool Status { get; set; }
}
