@inherits LayoutComponentBase
@using Ovning16.Components.Widgets

<PageTitle>AWIPEV Atmospheric Observatory</PageTitle>

<header>
    <div class="container-fluid">
        <NavMenu></NavMenu>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-md-block col-md-1 sticky-top h-100">
                <StatusSummary></StatusSummary>
            </div>
            <div class="col-12 col-md-11" id="page-content-wrapper">
                @Body
            </div>
        </div>
    </div>
</main>
