@inherits LayoutComponentBase

<PageTitle>AWIPEV Atmospheric Observatory</PageTitle>

<header>
    <div class="container-fluid">
        <NavMenu></NavMenu>
    </div>
</header>

<main>
    <div class="container-fluid h-100">
        <div class="row">
            <div id="page-content-wrapper">
                @Body
            </div>
        </div>
    </div>
</main>
